@font-face {
   font-family: 'Satoshi';
   src: url('./../src/fonts/Satoshi-Regular.woff2') format('woff2');
   font-weight: 400;
   font-display: swap;
   font-style: normal;
}



@font-face {
   font-family: 'Clash-Display';
   src: url('../src/fonts/ClashDisplay-Regular.woff2') format('woff2');
   font-weight: 400;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: 'Clash-Display';
   src: url('../src/fonts/ClashDisplay-Medium.woff2') format('woff2');
   font-weight: 500;
   font-display: swap;
   font-style: normal;
}