.products {
   padding: 60px 0;

   &__header {
      margin: 0 0 33px;
   }

   &__items {
      margin-bottom: 35px;
   }

   &__item {
      grid-column: span 3;
      &--big {
         grid-column: span 6;
      }
      &:hover {
         .products__img {
            transform: scale(1.1);
         }
      }
   }

   &__image {
      overflow: hidden;
      margin-bottom: 24px;
   }

   &__img {
      transition: transform .3s ease-in-out;
   }

   &__name {
      font-family: $second-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      color: $dark-primary;
      text-decoration: none;
      margin: 0 0 10px;
   }

   &__price {
      font-weight: 400;
      font-size: 18px;
      color: $dark-primary;
   }

   &__button {
      text-align: center;
   }

   &__link {
   }
}